.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: #2c2c2c;
  color: #fff;
  padding: 32px 64px;
  border-top: 1px solid #d9d9d9;
  flex-wrap: wrap;
  font-family: "Pretendard", sans-serif;
}

/* 왼쪽 로고 */
.footer-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* 중앙 텍스트 */
.footer-center {
  text-align: center;
  font-size: 13px;
  line-height: 1.5;
}
.footer-cenright {
  text-align: center;
  min-width: 180px;
  font-size: 13px;
  line-height: 1.5;
}
/* 오른쪽 정보 */
.footer-right {
  text-align: center;
  min-width: 180px;
  font-size: 13px;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
  }
  .footer-left,
  .footer-right {
    text-align: center;
  }
}
